body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1 
{
    text-align: center;
    font-size: 22px;
    margin: 0px;
    padding: 0px 0px 20px;
}

header {
    text-align: center;
    font-family: sans-serif;
    background: white;
}

form {
    display: block;
    margin-top: 0em;
}

.Login-Box a {
    font-size: 15px;
    line-height: 20px;
    color: grey;
    padding: 2px 5px;
    text-decoration: firebrick;
}

.Login-Box {
    width: 320px;
    height: 420px;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgb(37, 39, 46);
    padding: 70px 30px;
    border-radius: 20px;
}

.Login-Box p {
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 2px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Login-Box input[type="text"], input[type="password"] {
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    height: 40px;
    color: white;
    font-size: 14px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
}

.Login-Box input {
    width: 90%;
    margin-bottom: 20px;
}

input[type="text" i] {
    padding: 1px 2px;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}

.usericon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 50%;
    background: white;
}

.Login-Box input[type="submit"] {
    height: 35px;
    color: white;
    font-size: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    background: rgb(255, 51, 0);
    border-radius: 20px;
}
